*.json text
*.md text
*.properties text
*.ts text
.editorconfig text
.eslintrc
.gitattributes text
.gitignore text
.npmignore text
.prettierignore text
yarn.lock text
LICENSE text

* text=lf

* filter=spabs
